version: '3'
services:
  neo4j:
    image: neo4j:5.13.0
    container_name: neo4j-graphrag
    ports:
      - "7474:7474"  # HTTP
      - "7687:7687"  # Bolt
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/logs
      - ./neo4j/import:/import
      - ./neo4j/plugins:/plugins
    environment:
      - NEO4J_AUTH=neo4j/your_password  # Change this password
      - NEO4J_dbms_memory_heap_initial__size=1G
      - NEO4J_dbms_memory_heap_max__size=2G
      - NEO4J_dbms_memory_pagecache_size=1G
      # Enable vector index support
      - NEO4J_dbms_security_procedures_unrestricted=gds.*,apoc.*,vectorize.*
      - NEO4J_dbms_security_procedures_allowlist=gds.*,apoc.*,vectorize.*
      # Install Neo4j plugins (APOC, GDS, Vectorize)
      - NEO4J_PLUGINS=["apoc", "graph-data-science", "n10s"]